.chat-form
  textarea
    height 100px
    border-bottom-left-radius 0
    border-bottom-right-radius 0
  button
    width 100%
    border-top-left-radius 0
    border-top-right-radius 0

.chat-display
  max-height 300px
  overflow-y scroll
