.game__inner
  h1.page-header Game: {{game.name}}
  button.btn.btn-primary(ng-click='joinGame(game)', ng-show='!currentUserIsPlayer()') Join
  ul
    li(ng-repeat='player in game.players')
      p {{player.name}}
        span(ng-show='playerIsHost(player)') &nbsp;(Host)
