div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-lg-12
      .game-container
        .col-md-4
          ul
            li(ng-repeat="player in vm.players")
              p {{player.name}}
        .col-md-8
          //- button.btn.btn-primary(ng-click='myTurn()') My Turn

footer.footer
  .container
    p
      | Footer?
