.container
  .row
    .col-lg-12
      h1.page-header Active Games:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-init='fetchGames()' ,ng-repeat='game in games')
        li
          a(sref='play/{{game.name}}')
            | {{game.name}}
            button.btn.btn-blue(type='button', ng-click='joinGame(game)') Join
            button.btn.btn-red(type='button', ng-click='leaveGame(game)') Leave

  form.thing-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new game here.', ng-model='gameName')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='createGame()') Add New

footer.footer
  .container
    p
      | Angular Fullstack v2.0.13
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
