.container(ng-init='fetchGames()')
  .row
    form.create-game-form
      label Create a new game
      p.input-group
        input.form-control(type='text', placeholder='Add a new game here.', ng-model='gameName')
        span.input-group-btn
          button.btn.btn-primary(type='submit', ng-click='createGame()') Add New
  .row
    .col-xs-12
      .gamecordion
        a.gamecordion__game(ng-repeat='game in games', ui-sref='play.game({id: game.name})')
          b.gamecordion__gametitle {{game.name}}
          .gamecordion__gameview(ui-view='')
            //- Game will populate here on expand



footer.footer
  .container
    p
      | Angular Fullstack v2.0.13
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
